Vagrant::Config.run do |config|
  # Ubuntu 11.04
  # config.vm.box     = "natty32_base"
  # config.vm.box_url = "http://files.travis-ci.org/boxes/bases/natty32.box"

  config.vm.box     = "oneiric32_base"
  config.vm.box_url = "http://files.travis-ci.org/boxes/bases/oneiric32_base.box"

  # Ubuntu 12.04
  # config.vm.box     = "precise32_base"
  # config.vm.box_url = "http://files.travis-ci.org/boxes/bases/precise32_base.box"


  config.vm.forward_port 22, 2220

  #
  # For Vagrant 0.9.x and 1.0.x
  #
  
  config.vm.forward_port 22, 2220

  config.vm.customize ["modifyvm", :id, "--memory", "1024"]
  # partially helps with Vagrant issue #516, VirtualBox NAT interface chokes when
  # # of slow outgoing connections is large (in dozens or more).
  config.vm.customize ["modifyvm", :id, "--nictype1", "Am79C973"]

  config.vm.provision :chef_solo do |chef|
    # this assumes you have travis-ci/travis-cookbooks cloned at ./cookbooks
    chef.cookbooks_path = ["cookbooks/ci_environment"]
    chef.log_level      = :debug

    # Highly recommended to keep apt packages metadata in sync and
    # be able to use apt mirrors.
    chef.add_recipe     "apt"

    # List the recipies you are going to work on/need.
    # chef.add_recipe     "build-essential"
    # chef.add_recipe     "networking_basic"

    # chef.add_recipe     "travis_build_environment"
    # chef.add_recipe     "git"

    # chef.add_recipe     "java"
    # chef.add_recipe     "leiningen"

    # chef.add_recipe     "rabbitmq::with_management_plugin"

    # chef.add_recipe     "rvm"
    # chef.add_recipe     "rvm::multi"
    # chef.add_recipe     "nodejs::multi"
    # chef.add_recipe     "python::multi"

    # chef.add_recipe     "libqt4"
    # chef.add_recipe     "xserver"
    # chef.add_recipe     "firefox"

    # chef.add_recipe     "redis"
    # chef.add_recipe     "riak"
    # chef.add_recipe     "mongodb"
    # chef.add_recipe     "postgresql"
    # chef.add_recipe     "mysql"
    # chef.add_recipe     "couchdb"

    # chef.json.merge!({
    #                    :apt => {
    #                      :mirror => :ru
    #                    },
    #                    :rvm => {
    #                      :rubies  => [{ :name => "1.8.7" },
    #                                   { :name => "rbx-head", :arguments => "--branch 2.0.testing", :using => "1.8.7" },
    #                                   { :name => "jruby" },
    #                                   { :name => "1.9.2" },
    #                                   { :name => "1.9.3" },
    #                                   { :name => "rbx-head", :arguments => "-n d19 --branch 2.0.testing -- --default-version=1.9", :using => "1.9.3", :check_for => "rbx-head-d19" },
    #                                   { :name => "ruby-head" },
    #                                   { :name => "1.8.6" },
    #                                   { :name => "ree" }],
    #                      :aliases => {
    #                        "rbx"         => "rbx-head",
    #                        "rbx-2.0"     => "rbx-head",
    #                        "rbx-2.0.pre" => "rbx-head"
    #                      }
    #                    },
    #                    :mysql => {
    #                      :server_root_password => ""
    #                    },
    #                    :postgresql => {
    #                      :max_connections => 256
    #                    }
    #                  })
  end
end
