Vagrant::Config.run do |config|
  config.vm.box     = "natty32_base"
  config.vm.box_url = "http://files.travis-ci.org/boxes/bases/natty32.box"

  config.vm.forward_port 'ssh', 22, 2220

  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = "cookbooks/vagrant_base"
    chef.log_level      = :debug

    # List the recipies you are going to work on/need.
    # chef.add_recipe     "build-essential"
    # chef.add_recipe     "networking_basic"

    # chef.add_recipe     "travis_build_environment"
    # chef.add_recipe     "git"

    # chef.add_recipe     "java"
    # chef.add_recipe     "leiningen"

    # chef.add_recipe     "rabbitmq::with_management_plugin"

    # chef.add_recipe     "rvm"
    # chef.add_recipe     "rvm::multi"
    # chef.add_recipe     "nodejs::multi"
    # chef.add_recipe     "python::multi"

    # chef.add_recipe     "libqt4"
    # chef.add_recipe     "xserver"
    # chef.add_recipe     "firefox"

    # chef.add_recipe     "redis"
    # chef.add_recipe     "riak"
    # chef.add_recipe     "mongodb"
    # chef.add_recipe     "postgresql"
    # chef.add_recipe     "mysql"
    # chef.add_recipe     "couchdb"

    # chef.json.merge!({
    #                    :rvm => {
    #                      :rubies  => %w(1.8.7 rbx-2.0 1.9.3 1.9.2 jruby),
    #                      :aliases => {
    #                        "rbx"         => "rbx-head",
    #                        "rbx-2.0"     => "rbx-head"
    #                        "rbx-2.0.pre" => "rbx-head"
    #                      }
    #                    },
    #                    :mysql => {
    #                      :server_root_password => ""
    #                    },
    #                    :postgresql => {
    #                      :max_connections => 256
    #                    }
    #                  })
  end
end
